html, body {
  height: 100%;	
}

html .modal-open {
    margin-right: -17px;
	overflow-y: scroll;
}

.modal-open .modal,.btn:focus, a:focus{
    outline:none!important
}

body {
	margin-bottom: 80px;
	 padding-top: 55px;
	 overflow-x: hidden;
	 overflow: hidden;
	position: relative;
	}	

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
	}

.featuredImg {
margin-bottom: 15px;
}

#bringTop {
position: fixed;
right: 0;
bottom: 0;
height: 35px;
margin-bottom: 20px;
}


.startbutton {
font-size: 2em;
color: #aaaaaa;
text-decoration: none;
padding-top: 10px;
border: 0px solid #aaaaaa;
border-radius: 100%;
padding: 12px 0px 8px 0px;
-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.startbutton:hover{
color: #ffffff;
text-shadow: 0 0 8px #ffffff;
box-shadow: 0 0 2px #ffffff;
border: 2px solid white;
border-radius: 100%;
padding: 8px 10px 4px 10px;

-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 997;
    background-color: transparent;
    color: #555555;
	opacity: 0.4;
    width: 40px;
    height: 40px;
    line-height: 37.5px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
	border: 1px solid gray;
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@media (min-width: 480px) {
.scroll-top-wrapper:hover {
    background-color: #333333;
	color: #eeeeee;
	border:none;
	opacity: 0.8;
	line-height: 37.5px;
    right: 27.05px;
    bottom: 27.5px;
    padding-top: 2.5px;
	width: 45px;
    height: 43px;
	}
	
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

h3 {
font-family: 'Dosis', sans-serif;
font-weight: 200;
font-size: 1.9em;
}

h2 {
font-family: 'Raleway', sans-serif;
font-weught: 900;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: #555555;
  border-top:2px solid #222222;
  color: #bbbbbb;
}

.footer { 
padding-top: 15px;
}

header {
	width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
	z-index: 999;
}

.nav-up {
    top: -60px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

img.margin-space {
margin-left: 5px;
}

/* Parallax Backgrounds */

/* mobile screens */
@media (max-width: 480px) {
#about {
background: url(http://www.latoro.com/wallpapers/computers/18356-desktop-wallpapers-printed-circuit-board.jpg)  0 repeat fixed;
}
#home2 { 
 background: url(http://www.pictswalls.com/wp-content/uploads/2014/06/space-wallpaper-1080p-4.jpg) 0 repeat fixed;
 }
#home { 
  background: url(http://www.hdwallwide.com/wp-content/uploads/2014/01/new-york-aerial-view-2-wallpaper-1080p-HD.jpg) 50% 0  fixed; 
}
}


/* Bigger screens */
@media (min-width: 481px) {
#home { 
  background: url(http://www.hdwallwide.com/wp-content/uploads/2014/01/new-york-aerial-view-2-wallpaper-1080p-HD.jpg) 50% 0 repeat fixed; }
#about { 
  background: url(http://www.latoro.com/wallpapers/computers/18356-desktop-wallpapers-printed-circuit-board.jpg) 50% 0 repeat fixed;}	

#home2 { 
  background: url(http://www.pictswalls.com/wp-content/uploads/2014/06/space-wallpaper-1080p-4.jpg) 50% 0 repeat fixed; }

}

#home { 
  min-height: 500px; 
  height: 500px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px;
  position: relative; 

}

#home article { 
  height: 250px; 
  font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 4em;
color: white;
  position: absolute; 
  text-align: center; 
  top: 200px; 
  width: 100%; 
	} 
 
#about { 
  min-height: 350px; 
  height: 350px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 

}
 
#about article { 
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 4em;
	color: white;
	height: 250px; 
	position: absolute; 
	text-align: center; 
	top: 130px; 
	width: 100%; 
}

#brand {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: white;
}

#home2 { 
  min-height: 300px; 
  height: 300px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px;
  position: relative; 
 
}
 
#home2 article { 
  height: 150px; 
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: white;
  position: absolute; 
  text-align: center; 
  top: 125px; 
  width: 100%;
 
}

.body-text {
color: #888888;
font-size: 1.15em;
}

/* Animated Progress Bars */

.bar {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.level {
 float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #333333;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

@-moz-keyframes bar1 {
    0% {width: 0px;}
    100% {width: 85%;}
}

@-webkit-keyframes bar1 {
	0% {width: 0px;}
	100% {width: 85%;}
}

@keyframes bar1 {
	0% {width: 0px;}
	100% {width: 85%;}
}

@-moz-keyframes bar2 {
    0% {width: 0px;}
    100% {width: 78%;}
}

@-webkit-keyframes bar2 {
	0% {width: 0px;}
	100% {width: 78%;}
}

@keyframes bar2 {
    0% {width: 0px;}
    100% {width: 78%;}
}

@-moz-keyframes bar3 {
    0% {width: 0px;}
    100% {width: 99%;}
}

@-webkit-keyframes bar3 {
	0% {width: 0px;}
	100% {width: 99%;}
}

@keyframes bar3 {
    0% {width: 0px;}
    100% {width: 99%;}
}

.bar1.start  {
	width: 0px;
	-webkit-animation: bar1 1.5s ease-in-out 0.5s forwards;
	   -moz-animation: bar1 1.5s ease-in-out 0.5s forwards;
	    -ms-animation: bar1 1.5s ease-in-out 0.5s forwards;
	     -o-animation: bar1 1.5s ease-in-out 0.5s forwards;
	        animation: bar1 1.5s ease-in-out 0.5s forwards;
}

.bar2.start {
	width: 0px;
	-webkit-animation: bar2 1.5s ease-in-out 0.6s forwards;
	   -moz-animation: bar2 1.5s ease-in-out 0.6s forwards;
	    -ms-animation: bar2 1.5s ease-in-out 0.6s forwards;
	     -o-animation: bar2 1.5s ease-in-out 0.6s forwards;
	        animation: bar2 1.5s ease-in-out 0.6s forwards;
}

.bar3.start {
	width: 0px;
	-webkit-animation: bar3 1.5s ease-in-out 0.7s forwards;
	   -moz-animation: bar3 1.5s ease-in-out 0.7s forwards;
	    -ms-animation: bar3 1.5s ease-in-out 0.7s forwards;
	     -o-animation: bar3 1.5s ease-in-out 0.7s forwards;
	        animation: bar3 1.5s ease-in-out 0.7s forwards;
}




/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000; /* change if the mask should have another color then white */
	z-index:9999999999999; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	text-align: center;
	font-size: 1.5em;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../gif/Preloader_6.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/* Sidebar Navigation */
/*====================*/
#sidebar-wrapper { /*controls how fast it moves going back*/
  right: -200px;
  width: 200px;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 998;
   -webkit-transition: all 1.0s ease 0s;
   -moz-transition-property: -moz-transform;
-moz-transition-duration: 0.6s;
-moz-transition-timing-function: ease;
-moz-transition-delay: 0;
	-ms-transition: all 0.6s ease 0s;
	 -o-transition: all 0.6s ease 0s;
		transition: all 0.6s ease 0s;
}

#wrapper.active #sidebar-wrapper {/* controls how fast it moves out */
	 right: 0px;
     -moz-transition-property: -moz-transform;
-moz-transition-duration: 0.6s;
-moz-transition-timing-function: ease;
-moz-transition-delay: 0;
-webkit-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	 -o-transition: all 0.6s ease 0s;
		transition: all 0.6s ease 0s;

}

.sidebar-nav {
  position: absolute;
  top: 0px;
  width: 200px;
  list-style: none;
  margin: 0;
  padding-top: 50px;
  border: none;
  z-index: 9;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 5px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-right: 40px;
  
}
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-right: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
    text-decoration: none;
	display: inline-block;
}

.btn-menu {
  color: #000;
} 

.inset {
  padding: 15px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #ffffff;
  background: #000000;
  text-decoration: none;

}




/* Attempts at stuff */

#navbar-style{
font-family: 'Quicksand', sans-serif;
font-weight: 400;
	font-size: 1em;
	color: white;
}

/* JUMBOTRON */
@media (max-width: 480px) {
.jumbotron {
  background-image:url('http://i.imgur.com/RllKtNw.jpg')  ;
	background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 250% 100%;
    height: 750px;  
  }
}

@media (min-width: 481px) and (max-width: 768px) {
.jumbotron {
  background-image:url('http://i.imgur.com/RllKtNw.jpg')  ;
	background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 150% 100%;
    height: 750px;  
  }
}
@media (min-width: 769px) {
.jumbotron {
  background-image:url('http://i.imgur.com/RllKtNw.jpg')  ;
	background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 750px;  
  }
}

 #noPadding {
padding: 0;
} 
  
#noCorner {
border-radius: 0px;

}

#nostyle {
border: none;
border-radius: 0px;
}
.thumbnail {
padding: 0px 0px 0px 0px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  position: relative;
  color: #fff;
  font-size: 6.5em;  
  opacity:0;
  font-family: 'Josefin Sans', 'Comfortaa', sans-serif;
  font-weight: 300;


}

.jumbotron p {
	opacity:0;
  position: relative;
  font-size: 1.2em;
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
}

.fadeUp.begin {
	-webkit-animation: text 0.8s cubic-bezier(0.500, 0.005, 0.365, 1.000) 0.6s forwards;
	   -moz-animation: text 0.8s cubic-bezier(0.795, 0.005, 0.195, 0.980) 0.6s forwards;
	    -ms-animation: text 0.8s cubic-bezier(0.795, 0.005, 0.195, 0.980) 0.6s forwards;
	     -o-animation: text 0.8s cubic-bezier(0.795, 0.005, 0.195, 0.980) 0.6s forwards;
	        animation: text 0.8s cubic-bezier(0.795, 0.005, 0.195, 0.980) 0.6s forwards;	
}

.fadeUp2.begin2 {
	-webkit-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.0s forwards;
	   -moz-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.0s forwards;
	    -ms-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.0s forwards;
	     -o-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.0s forwards;
	        animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.0s forwards;	
}

.fadeUp3.begin3 {
	-webkit-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.2s forwards;
	   -moz-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.2s forwards;
	    -ms-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.2s forwards;
	     -o-animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.2s forwards;
	        animation: text 0.6s cubic-bezier(0.795, 0.005, 0.195, 0.980) 1.2s forwards;	
}


@-moz-keyframes text {
    0% {top:30%; opacity:0;}
    100% {top: 10%; opacity:1;}
}

@-webkit-keyframes text {
    0% {top:30%; opacity:0;}
    100% {top: 10%; opacity:1;}
}

@keyframes text {
    0% {top:30%; opacity:0;}
    100% {top: 10%; opacity:1;}
	}
	
figcaption h2 {
font-family: 'Josefin Sans';
}

/* Gallery effects */
.gallery figure {
	position: relative;
	z-index: 9;
	overflow: hidden;
	background: #222222;
	text-align: center;
	cursor: pointer;
	
}

	
figure.effect-shade figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 25%,rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.9) 75%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 25%,rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.9) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

figure.effect-shade h2 {
	opacity:0;
	position: absolute;
	top: 65%;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 2em;
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

figure.effect-shade figcaption::before,
figure.effect-shade p {
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

figure.effect-shade p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	color: #ffffff;
	font-size: 1em;
	-webkit-transform: translate3d(0,15px,0);
	transform: translate3d(0,15px,0);
}


figure.effect-shade:hover h2 {
	color: #fff;
	opacity:1;
	-webkit-transform: translate3d(0,-100%,0) translate3d(0,-50px,0);
	transform: translate3d(0,-100%,0) translate3d(0,-50px,0);
}

figure.effect-shade:hover figcaption::before ,
figure.effect-shade:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}

